.support-container {
    margin: 20px;
    padding: 30px;
    position: fixed;
    left: 4vw;
    top: 35vh;
    background-color: rgba(37, 37, 37, 0.6); /* Slightly lighter dark background for the container */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Darker shadow for depth on dark background */
    width: 85vw;
    max-height: 50vh;
    border: 1px solid #333; /* Subtle border for definition */
    overflow: auto;
}

.support-h1, .support-h2 {
    color: #98fb98; /* A vibrant green for headings */
    justify-self: start;
    margin-bottom: 15px;
    /* border-bottom: 2px solid #4CAF50; A darker green underline */
    padding-bottom: 8px;
}

p {
    line-height: 1.7;
    color: #d4d4d4; /* Slightly lighter text color for better readability on dark */
    margin-bottom: 15px;
}

.contact-info {
    margin-top: 25px;
    padding-top: 15px;
    border-top: 1px solid #333;
}

.contact-info p {
    margin-bottom: 12px;
}

.contact-form {
    margin-top: 35px;
    padding-top: 20px;
    border-top: 1px solid #333;
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #98fb98; /* Green for labels */
}

.contact-form input, .contact-form textarea {
    width: calc(100% - 16px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #444; /* Darker border for input fields */
    border-radius: 6px;
    font-size: 16px;
    background-color: #333; /* Dark background for input fields */
    color: #f0f0f0;
    box-sizing: border-box;
}

.contact-form textarea {
    max-height: 10vh;
    overflow-y: auto;
}

.contact-form button {
    background-color: #4CAF50; /* Green for the button */
    color: white;
    padding: 12px 20px;
    width: auto;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.support-container::-webkit-scrollbar, .contact-form textarea::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.support-container::-webkit-scrollbar-track, .contact-form textarea::-webkit-scrollbar-track {
    background-color: #333; /* Dark background for the track */
}

.support-container::-webkit-scrollbar-thumb, .contact-form textarea::-webkit-scrollbar-thumb {
    background-color: #555; /* Slightly lighter dark color for the thumb */
    border-radius: 4px; /* Rounded corners for the thumb */
}

.support-container::-webkit-scrollbar-thumb:hover, .contact-form textarea::-webkit-scrollbar-thumb:hover {
    background-color: #666; /* Even lighter dark color on hover */
}